<p>SECTION B: SUPPORTING DATA </p>

<%= form_for [@application, @montessori_training] do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>
<%= f.label :location %>
<%= f.text_field :location %>
<%= f.label :diploma %>
<%= f.text_field :diploma %>
<%= f.label :degree %>
<%= f.text_field :degree %>
<%= f.label :degree_date %>
<%= f.text_field :degree_date %>
<%= f.submit :save %>
<% end %>

<a href="/applications/<%= @application.id %>/montessori_trainings">Back to Montessori Trainings</a>
