application page

<p>SECTION A: PERSONAL DATA </p>

<%= form_for(@application) do |f| %>
  <%= label_tag :last_name %>
  <%= text_field_tag :'user[last_name]', current_user.last_name %>
  <%= label_tag :first_name %>
  <%= text_field_tag :'user[first_name]', current_user.first_name %>
  <%= label_tag :middle_initial %>
  <%= text_field_tag :'user[middle_initial]', current_user.middle_initial %>
  <%= f.label :phone_number %>
  <%= f.text_field :phone_number %>
  <%= f.label :street %>
  <%= f.text_field :street %>
  <%= f.label :city %>
  <%= f.text_field :city %>
  <%= f.label :state %>
  <%= f.text_field :state %>
  <%= f.label :zip_code %>
  <%= f.text_field :zip_code %>
  <%= f.label :country %>
  <%= f.text_field :country %>
  <%= f.label :birth_place %>
  <%= f.text_field :birth_place %>
  <%= f.label :birth_date %>
  <%= f.text_field :birth_date %>
  <%= f.label :country_of_citizenship %>
  <%= f.text_field :country_of_citizenship %>
  <%= f.label :occupation %>
  <%= f.text_field :occupation %>
  <%= f.label :name_of_spouse %>
  <%= f.text_field :name_of_spouse %>
  <%= f.label :ages_of_children %>
  <%= f.text_field :ages_of_children %>
  <%= label_tag :email %>
  <%= text_field_tag :'user[email]', current_user.email, disabled: true %>
  <%= f.submit :save %>
<% end %>



