<div class="application">
  <h1>SECTION D: WORK EXPERIENCE </h1>
  <p>Please see your work experience below.</p>
  <p><a href="/applications/<%= @application.id %>/work_experiences/new">Add new work experience</a></p>
  <hr>

  <% @work_experience.each do |work| %>
    <p>Name: <%= work.employer %></p>
    <p>Location: <%= work.occupation %></p>
    <p>Diploma: <%= work.pretty_date(work.start_date) %></p>
    <p>Degree: <%= work.pretty_date(work.end_date) %></p>
    <p><%= link_to 'Edit work experience', "/applications/#{@application.id}/work_experiences/#{work.id}/edit"%>
    <hr>
  <% end %>

  <h3>Other Application Sections</h3>
  <p>Please double check all sections below to ensure that your application is accurate.</p>
  <h4><a href="/applications/<%= @application.id %>">A. My Personal Data, Pay Application Fee & Submit</a></h4>
  <h4><a href="/applications/<%= @application.id %>/educations">B. Education</a></h4>
  <h4><a href="/applications/<%= @application.id %>/montessori_trainings">C. Montessori Trainings</a></h4>
  <h4><a href="/applications/<%= @application.id %>/work_experiences">D. Work Experience</a></h4>
  <h4><a href="/applications/<%= @application.id %>/references">E. References</a></h4>
  <h4><a href="/applications/<%= @application.id %>/documents">F. Documents</a></h4>
</div>