<% @work_experience.each do |work| %>
<<<<<<< HEAD
  <p>Name: <%= work.employer %></p>
  <p>Location: <%= work.occupation %></p>
  <p>Diploma: <%= work.start_date %></p>
  <p>Degree: <%= work.end_date %></p>
=======
  <p>Name: <%= work.employer %>
  Location: <%= work.occupation %>
  Diploma: <%= work.start_date %>
  Degree: <%= work.end_date %>
>>>>>>> 07cde9108dcbc940aea029b4a35a409f772a3f05
<% end %>

<a href="/applications/<%= @application.id %>/work_experiences/new">Add new Work Experience</a>

