<div class="application">
  <h1>SECTION D: WORK EXPERIENCE </h1>
  <p>Please list your work experience below.</p>

  <%= bootstrap_form_for [@application, @work_experience] do |f| %>
  <p><%= f.text_field :employer %></p>
  <p><%= f.text_field :occupation %></p>
  <p><%= f.text_field :start_date %></p>
  <p><%= f.text_field :end_date %></p>
  <p><%= f.submit :save %></p>
  <% end %>

  <p><%= link_to 'Cancel', "/applications/#{@application.id}/work_experiences"%>
</div>