<div class="application">
  <h1>SECTION F: DOCUMENTS</h1>
  <p>Please edit your document below.</p>

  <%= bootstrap_form_for [@application, @document], :url => {:action => "update"} do |f| %>
    <p><%= f.text_field :attachment %></p>
    <p><%= f.select :category, [['transcript'], ['recommendation'], ['resume']] %></p>
    <p><%= f.submit :save %></p>
  <% end %>

  <p><%= link_to 'Cancel', "/applications/#{@application.id}/documents"%>
</div>


