<div class="application">
  <h1>SECTION F: DOCUMENTS</h1>
  <p>Please attach your health form, personal essay, recommendation, resume, TOEFL report or transcript below.</p>

  <%= bootstrap_form_for [@application, @document] do |f| %>
    <p><%= f.text_field :attachment %></p>
    <p><%= f.select :category, [['health form'], ['personal essay'], ['recommendation'], ['resume'], ['TOEFL score report'], ['transcript']] %></p>
    <p><%= f.submit :save %></p>
  <% end %>

  <p><%= link_to 'Cancel', "/applications/#{@application.id}/documents"%>
</div>


