<p>SECTION B: SUPPORTING DATA </p>

<%= form_for [@application, @reference] do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>
<%= f.label :address %>
<%= f.text_field :address %>
<%= f.label :position%>
<%= f.text_field :position%>
<%= f.submit :next %>
<% end %>