<p>SECTION E: REFERENCES </p>

<%= form_for [@application, @reference] do |f| %>
<p><%= f.label :name %></p>
<p><%= f.text_field :name %></p>
<p><%= f.label :address %></p>
<p><%= f.text_field :address %></p>
<p><%= f.label :position%></p>
<p><%= f.text_field :position%></p>
<p><%= f.submit :save %></p>
<% end %>