<div class="application">
  <h1>SECTION B: EDUCATION</h1>
  <p>Please see your education below.</p>
  <p><a href="/applications/<%= @application.id %>/educations/new">Add new education</a></p>
  <hr>
  <% @educations.each do |education| %>
    <p>School: <%= education.school %></p>
    <p>Location: <%= education.location %></p>
    <p>Start Date: <%= education.pretty_date(education.start_date) %></p>
    <p>End Date: <%= education.pretty_date(education.end_date) %></p>
    <p>Degree: <%= education.degree %></p>
    <p>Degree date: <%= education.pretty_date(education.degree_date) %></p>
    <p><%= link_to 'Edit education', "/applications/#{@application.id}/educations/#{education.id}/edit"%>
    <hr>
  <% end %>

  <h3>Other Application Sections</h3>
  <p>Please double check all sections below to ensure that your application is accurate.</p>
  <h4><a href="/applications/<%= @application.id %>">A. My Personal Data, Pay Application Fee & Submit</a></h4>
  <h4><a href="/applications/<%= @application.id %>/educations">B. Education</a></h4>
  <h4><a href="/applications/<%= @application.id %>/montessori_trainings">C. Montessori Trainings</a></h4>
  <h4><a href="/applications/<%= @application.id %>/work_experiences">D. Work Experience</a></h4>
  <h4><a href="/applications/<%= @application.id %>/references">E. References</a></h4>
  <h4><a href="/applications/<%= @application.id %>/documents">F. Documents</a></h4>
</div>
