    <!-- Breadcumb area start -->
    <section class="breadcumb_area">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="breadcumb_section">
                        <!-- Breadcumb page title start -->
                        <div class="page_title">
                            <h3><%= @title %></h3>
                        </div>
                        <!-- Breadcumb page pagination start -->
                        <div class="page_pagination">
                            <ul>
                                <li><%= link_to "Home", "/" %></li>
                                <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                                <li><%= @title %></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcumb area end -->

    <!-- About us area start -->
    <section class="about_us_area section_padding_100">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <!-- About us text start -->
                    <div class="about_us_text">
                        <h3>Profile <span>Page</span></h3>
                        <p>You did it!!!!!!! This is more information about the school.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus repellat blanditiis non tenetur modi, sint id quo esse corporis dicta, dignissimos nemo. Voluptas blanditiis ad culpa obcaecati in dicta, quibusdam.</p>
                    </div>
                    <!-- About us special quote start -->
                    <div class="special_service">
                        <div class="row">
                            <div class="col-sm-6">
                                <!-- About us single quote start -->
                                <div class="single_special_service">
                                    <%= image_tag "img/checked.png" %>

                                    <h5>Principal Name: <%= @school.principal_name %></h5>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <!-- About us single quote start -->
                                <div class="single_special_service">
                                    <%= image_tag "img/checked.png" %>
                                    <h5>Contact Phone: <%= @school.name %></h5>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <!-- About us single quote start -->
                                <div class="single_special_service">
                                    <%= image_tag "img/checked.png" %>
                                    <h5>Address: <%= @school.school_address %></h5>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <!-- About us single quote start -->
                                <div class="single_special_service">
                                    <h5><%= link_to "edit", "/local_schools/#{@school.id}/edit" %></h5>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-xs-12 col-md-6">
                    <!-- About us thumb start -->
                    <div class="about_us_thumb">
                        <%= image_tag "img/about.jpg" %>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About us area end -->

    <!-- ===================== Cool Facts Area Start ===================== -->

    <!-- Our mission area end -->