<!-- Breadcumb area start -->
    <section class="breadcumb_area">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="breadcumb_section">
                        <!-- Breadcumb page title start -->
                        <div class="page_title">
                            <!-- Once we have devise controllers imported into our rails app, need to add @title = "Edit Profile" -->
                            <h3>Edit Profile</h3>
                        </div>
                        <!-- Breadcumb page pagination start -->
                        <div class="page_pagination">
                            <ul>
                                <li><%= link_to "Home", "/" %></li>
                                <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                                <!-- Once we have devise controllers imported into our rails app, need to add @title = "Edit Profile" -->
                                <li>Edit Profile</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcumb area end -->

    <!-- Login area start -->
    <div class="login_area section_padding_100">
        <div class="container">
            <div class="row">
                <!-- Edit form area start -->
                <div class="col-xs-12 col-md-7 col-lg-6">
                  <div class="edit_form">
                    <h2>Edit <%= resource_name.to_s.humanize %></h2>

                    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                      <%= devise_error_messages! %>

                      <div class="form-group">
                        <%= f.label :email %><br />
                        <%= f.email_field :email, autofocus: true %>
                      </div>

                      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                      <% end %>

                      <div class="form-group">
                        <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
                        <%= f.password_field :password, autocomplete: "off" %>
                        <% if @minimum_password_length %>
                          <br />
                          <em><%= @minimum_password_length %> characters minimum</em>
                        <% end %>
                      </div>

                      <div class="form-group">
                        <%= f.label :password_confirmation %><br />
                        <%= f.password_field :password_confirmation, autocomplete: "off" %>
                      </div>

                      <div class="form-group">
                        <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
                        <%= f.password_field :current_password, autocomplete: "off" %>
                      </div>

                      <div class="actions">
                        <%= f.submit "Update" %>
                      </div>
                    <% end %>

                    <h3>Cancel my account</h3>

                    <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

                    <%= link_to "Back", :back %>
                  </div>
                </div>
                <!-- Edit form area end  -->
            </div>
        </div>
    </div>
    <!-- Login area end -->